flask
pycryptodome
gunicorn
fernet
cryptosteganography
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
pycryptodomex>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
