<!DOCTYPE html>
<html lang="en" class="has-background-primary">
	<head>
		<title>Stegonography</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stego.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/message.png') }}">
        <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
	</head>
	<body>
	

    <div id="nav" class="is-max-widescreen has-background-white navbar pr-4">
    <b id="cryptic" class="pl-5 is-size-2 has-text-right level-right">Cryptic</b>
    <a id="link" class="pr-5 has-text-right level-right" href="/">Encrypt</a>
    <a id="xx" class="pr-5 has-text-right level-right" href="/decrypt">Decrypt</a>
    <a id="xx" class="pr-5 has-text-right level-right" href="/upload">Upload</a>
    <a id="xx" class="pr-5 has-text-right level-right" href="/stegohide">Stegonography</a>
    
    <a id="fg" role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>

<div class="navbar-menu" id="navMenu">
<br><br><br><br><br>
  <center id="menu"><a class="button is-rounded is-primary is-large is-fullwidth has-text-white is-size-1" id="links" href="/" >Encrypt</a></center>
  <center id="decrypt-link"><a class="button is-rounded is-large is-primary is-fullwidth has-text-white is-size-1" id="links" href="/decrypt" >Decrypt</a></center>
  <center id="upload-link"><a class="button is-rounded is-large is-fullwidth is-primary has-text-white is-size-1" href="/upload" id="links">Upload</a></center>
  <center id="upload-link"><a class="button is-rounded is-fullwidth is-primary has-text-white is-size-1" id="links" href="/stegohide"  id="upload-link">Stegonography</a></center>
</div>
  
  <script>
 document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});

</script>
</div>
        
    </div>    
   
	<center>
    <div id="move" class="tile is-ancestor">
    
    <div class="tile">
    <div class="tile is-parent is-vertical">
    <div class="tile is-child box">
    <b class="is-size-2">Embed Secret Message</b>
    
        <form action="/stego_hide" method="POST" enctype="multipart/form-data">
		<div class="field pt-5">
        <p class="control has-icons-left">
        <input id="encryption_key" class="input is-primary is-medium is-max-widescreen " type="text" placeholder="Generate Encryption Key" name="encryption_key" value="{{enc_key}}" disabled required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-key"></i>
        </span>
        </p>
        </div>
        
        <div class="field">
        <p class="control has-icons-left">
        <input class="input is-primary is-medium is-max-widescreen " type="password" placeholder="Security Key" name="security_key" required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-fingerprint"></i>
        </span>
        </p>
        </div>
        
        <div class="field">
        <p class="control has-icons-left">
        <input id="hidden_text" class="input is-primary is-medium is-max-widescreen" type="text" placeholder="Hidden Message" name="hidden_text" required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-code"></i>
        </span>
        </p>
        </div>
        
         
        
        
		<div id="file-js1" class="file is-large is-fullwidth is-info has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="file" required>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
    <span class="file-name file-name3">
      Original File
    </span>
  </label>
</div>
        <button id="submit" class="mt-2 button is-large  is-fullwidth is-primary">Hide Message</button>
		</form>
		
		  <form action="/stego_keygen" method="POST">
        <button id="gen" class="mt-2 button is-large is-fullwidth is-primary">Generate Key</button>
        </form>

    <script>
    const fileInput = document.querySelector('#file-js1 input[type=file]');
    fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js1 .file-name3');
      fileName.textContent = fileInput.files[0].name;
    }
  }
    </script>
    
		
		
		<br><br>
		<h2 id="en" class="mb-4  is-centered" >{{enc_key}} </h2>
		<h2 id="ext">{{filetype}}</h2>
		<a download href="{{ url_for('static', filename='stego/')}}{{image}}" id="status">{{download}}</a>
		<h2>{{mesaage}}</h2>
		
		
		</div>
		</div>
		
		
		<div class="tile is-parent">
	    <div class="tile is-child box" >
		<b class="is-size-2">Extract Secret Message</b>
		
		<form action="/stego_extract" method="POST" enctype="multipart/form-data">
		<div class="field pt-5">
        <p class="control has-icons-left">
        <input name="decryption_key" class="input is-primary is-medium is-fullwidth" type="text" placeholder="Enter Decryption Key" required>
        
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-key"></i>
        </span>
        </p>
        </div>
        
		<div class="field">
        <p class="control has-icons-left">
        <input id=security_key class="input is-primary is-medium is-fullwidth" type="password" placeholder="Enter Security Key" name="security_key" required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-fingerprint"></i>
        </span>
        </p>
        </div>
        
        
		<div id="files1" class="file is-large is-fullwidth is-info has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="extract_file" required>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
    <span class="file-name file-name4">
      Embeded Image
    </span>
  </label>
</div>
        
       <script>
    const fileInput2 = document.querySelector('#files1 input[type=file]');
    fileInput2.onchange = () => {
    if (fileInput2.files.length > 0) {
      const fileName2 = document.querySelector('#files1 .file-name4');
      fileName2.textContent = fileInput2.files[0].name;
    }
  }
    </script>
    
		<button id="submit" class="mt-2 button is-large is-fullwidth is-primary">Extract File</button>
		</form>
		
		
		<h4 style="font-weight:bold;" class="pt-5 " id="ext">{{filetype2}}</h4>
		<h2 style="font-weight:bold;" class="has-text-dark pt-5 mt-5" id="status">{{heading}} {{secret_message}}</h2>
  </footer>
  
		</div>
		</div>
		</center>
		
    <center>
    <div id="move2" class="tile is-ancestor">
    
    <div class="tile">
    <div class="tile is-parent is-vertical">
    <div class="tile is-child box">
    <b class="is-size-2">Embed Secret File</b>
    
        <form action="/stego_hide_file" method="POST" enctype="multipart/form-data">
		<div class="field pt-5">
        <p class="control has-icons-left">
        <input id="encryption_key" class="input is-primary is-medium is-max-widescreen " type="text" placeholder="Generate Encryption Key" name="encryption_key" value="{{stego_file_key}}" disabled required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-key"></i>
        </span>
        </p>
        </div>
        
        <div class="field">
        <p class="control has-icons-left">
        <input id="security_key" class="input is-primary is-medium is-max-widescreen " type="password" placeholder="Security Key" name="security_key" required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-fingerprint"></i>
        </span>
        </p>
        </div>

        
		<div id="file-js" class="file is-large is-fullwidth is-info has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="original_image" required>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
    <span class="file-name file-name3">
      Original Image
    </span>
  </label>
  
   <script>
    const fileInput3 = document.querySelector('#file-js input[type=file]');
    fileInput3.onchange = () => {
    if (fileInput3.files.length > 0) {
      const fileName3 = document.querySelector('#file-js .file-name3');
      fileName3.textContent = fileInput3.files[0].name;
    }
  }
    </script>

<label id="file-js3" class="file-label pl-4">
    <input class="file-input" type="file" name="secret_file" required>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
    <span class="file-name file-name4">
      Hidden File
    </span>
  </label>
  
   <script>
    const fileInput4 = document.querySelector('#file-js3 input[type=file]');
    fileInput4.onchange = () => {
    if (fileInput4.files.length > 0) {
      const fileName4 = document.querySelector('#file-js3 .file-name4');
      fileName4.textContent = fileInput4.files[0].name;
    }
  }
    </script>
  
  </div>
        <button id="submit" class="mt-2 button is-large  is-fullwidth is-primary">Hide File</button>
		</form>
		
		  <form action="/stego_file_keygen" method="POST">
        <button id="gen" class="mt-2 button is-large is-fullwidth is-primary">Generate Key</button>
        </form>

   
    
		
		
		<br><br>
		<h2 id="en" class="mb-1  is-centered" >{{stego_file_key}} </h2>
		<h2 id="ext">{{filetype}}</h2>
		<h2 class="mb-1" style="color:red;font-weight:bold;">{{upload_failed}}</h2>
		<a download href="{{ url_for('static', filename='encrypted/')}}{{image_src}}" id="status">{{stego_file_download}}</a>
		<h2>{{mesaage}}</h2>
		
		
		</div>
		</div>
		
		
		<div class="tile is-parent">
	    <div class="tile is-child box" >
		<b class="is-size-2">Extract Secret File</b>
		
		<form action="/stego_extract_file" method="POST" enctype="multipart/form-data">
		<div class="field pt-5">
        <p class="control has-icons-left">
        <input name="decryption_key" class="input is-primary is-medium is-fullwidth" type="text" placeholder="Enter Decryption Key" required>
        
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-key"></i>
        </span>
        </p>
        </div>
        
		<div class="field">
        <p class="control has-icons-left">
        <input class="input is-primary is-medium is-fullwidth" type="password" placeholder="Enter Security Key" name="security_key" required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-fingerprint"></i>
        </span>
        </p>
        </div>
        
        <div class="control has-icons-left">
  <div class="select is-medium is-primary is-fullwidth">
    <select name="format">
      <option selected>Select embeded file format</option>
      <option>jpeg</option>
      <option>jpg</option>
      <option>png</option>
      <option>doc</option>
      <option>docx</option>
      <option>csv</option>
      <option>xslx</option>
      <option>txt</option>
    </select>
  </div>
  <span id="lock" class="icon is-large is-left">
    <i class="fas fa-image"></i>
  </span>
</div>
        
        
		<div id="files" class="file is-large is-fullwidth is-info has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="extract_file" required>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
    <span class="file-name file-name4">
      Embeded Image
    </span>
  </label>
</div>
        
       <script>
    const fileInput5 = document.querySelector('#files input[type=file]');
    fileInput5.onchange = () => {
    if (fileInput5.files.length > 0) {
      const fileName5 = document.querySelector('#files .file-name4');
      fileName5.textContent = fileInput5.files[0].name;
    }
  }
    </script>
    
		<button id="submit" class="mt-2 button is-large is-fullwidth is-primary">Extract File</button>
		</form>
		
		
		<h4 style="font-weight:bold;" class="pt-5 " id="ext">{{filetype2}}</h4>
		<h2 style="font-weight:bold;" class="has-text-dark pt-5 mt-5" id="status">{{response}}</h2>
	    <a href="" id="status">{{file_location}}</a>
  </footer>
  
		</div>
		</div>
		</center>
	</body>
</html>
