<!DOCTYPE html>
<html lang="en" class="has-background-primary">
	<head>
		<title>Upload</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/encryption.png') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	</head>
	<body>
	

    <div id="nav" class="is-fullwidth has-background-white navbar pr-4">
    <b id="cryptic" class="pl-5 is-size-2 has-text-right level-right">Cryptic</b>
    <a id="link" class="pr-5 has-text-right level-right" href="/">Encrypt</a>
    <a id="xx" class="pr-5 has-text-right level-right" href="/decrypt">Decrypt</a>
    <a id="xx" class="pr-5 has-text-right level-right" href="/upload">Upload</a>
    <a id="xx" class="pr-5 has-text-right level-right" href="/stegohide">Stegonography</a>
    
    <a id="fg" role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>

<div class="navbar-menu" id="navMenu">
<br><br><br>
 <center id="menu"><a class="button is-rounded is-primary has-text-white is-size-1" id="links" href="/" >Encrypt</a></center>
 <center id="decrypt-link"><a  class="button is-rounded is-primary has-text-white is-size-1" id="links" href="/decrypt" >Decrypt</a></center>
 <center id="upload-link"><a class="button is-rounded  is-primary has-text-white is-size-1" href="/upload" id="links">Upload</a></center>
 <center id="upload-link"><a class="button is-rounded is-primary has-text-white is-size-1" id="links" href="/stegohide"  id="upload-link">Stegonography</a></center>
</div>
  
  <script>
 document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});

</script>
</div>
        
    </div>    
   
	<center>
    <div id="move" class="tile is-ancestor">
    
    <div class="tile">
    <div class="tile is-parent is-vertical">
    <div class="tile is-child box">
    <b class="is-size-2">Encrypt File</b>
    
		<div class="field pt-5">
        <p class="control has-icons-left">
        <input id="encryption_key" class="input is-primary is-medium is-max-widescreen " type="text" placeholder="Generate Encryption Key" value="{{enc_key}}" disabled required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-key"></i>
        </span>
        </p>
        </div>
        
      
          
		<form action="/encrypt_file" method="POST" enctype="multipart/form-data">
		<div class="field">
        <p class="control has-icons-left">
        <input id="security_key" class="input is-primary is-medium is-max-widescreen" type="password" placeholder="Enter Security Key" name="security_key" required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-fingerprint"></i>
        </span>
        </p>
        </div>
        
         
        
        
		<div id="file-js" class="file is-large is-fullwidth is-info has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="file" required>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
    <span class="file-name file-name3">
      File name
    </span>
  </label>
</div>
        <button id="submit" class="mt-2 button is-large  is-fullwidth is-primary">Encrypt</button>
		</form>
		
		  <form action="/keygen" method="POST">
        <button id="gen" class="mt-2 button is-large is-fullwidth is-primary">Generate Key</button>
        </form>

    <script>
    const fileInput = document.querySelector('#file-js input[type=file]');
    fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js .file-name3');
      fileName.textContent = fileInput.files[0].name;
    }
  }
    </script>
    
		
		
		<br><br>
		<h2 id="en" class="mb-2 pt-5 is-centered" >{{warning}} {{enc_key}} </h2>
		<h2 id="ext">{{filetype}}</h2>
		<a href="{{ url_for('static', filename='encrypted/') }}{{filename}}" download><h2 id="status">{{download}}</h2></a>
		
		
		</div>
		</div>
		
		
		<div class="tile is-parent">
	    <div class="tile is-child box" >
		<b class="is-size-2">Decrypt File</b>
		
		<form action="/decrypt_file" method="POST" enctype="multipart/form-data">
		<div class="field pt-5">
        <p class="control has-icons-left">
        <input name="decryption_key" class="input is-primary is-medium is-fullwidth" type="text" placeholder="Enter Decryption Key" required>
        
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-key"></i>
        </span>
        </p>
        </div>
        
		<div class="field">
        <p class="control has-icons-left">
        <input class="input is-primary is-medium is-fullwidth" type="password" placeholder="Enter Security Key" name="security_key" required>
        <span id="lock" class="icon is-small is-left">
        <i class="fas fa-fingerprint"></i>
        </span>
        </p>
        </div>
        
		<div id="files" class="file is-large is-fullwidth is-info has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="encrypted_file" required>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Upload File
      </span>
    </span>
    <span class="file-name file-name4">
      File name
    </span>
  </label>
</div>
        
       <script>
    const fileInput2 = document.querySelector('#files input[type=file]');
    fileInput2.onchange = () => {
    if (fileInput2.files.length > 0) {
      const fileName2 = document.querySelector('#files .file-name4');
      fileName2.textContent = fileInput2.files[0].name;
    }
  }
    </script>
    
		<button id="submit" class="mt-2 button is-large is-fullwidth is-primary">Decrypt</button>
		</form>
		
		
		<h4 style="font-weight:bold;" class="pt-5 mt-5" id="ext">{{filetype2}} {{filetype}}</h4>
		<h3 href="{{ url_for('static', filename='decrypted/') }}{{filename}}" style="font-weight:bold;" class="pt-5 mt-5 has-text-dark" id="status">{{result}}</h3>
  </footer>
	
		</div>
		</div>
		</center>
	</body>
</html>
